/* Start Variables */
:root {
  --main-color: #19c8fa
}
/* End Variables */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif
}

ul {
  list-style: none;
}


.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}


@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}


@media (min-width: 1170px) {
  .container {
    width: 1200px;
  }
}


/*
  ======================
*/

/* Setart Header */


header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header .container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 15px;

  width: calc(100% - 30px);
  height: 1px;
  background-color: #a2a2a2;
}

header .logo img {
  height: 40px;
}

header nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header nav ul {
  display: flex;
}

header nav ul li a {
  padding: 40px 10px;
  display: block;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
  position: relative;
  z-index: 2;
}

header nav ul li a.active,
header nav ul li a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

header nav .form {
  width: 40px;
  height: 30px;
  border-left: 1px solid white;
  position: relative;
  margin-left: 15px;
}

header nav .form i {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 18px;
}



/* End Header */